@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* ------------------------------------------ */
/* navbar styling  */
.navbar-brand{
  font-size: 18px !important;
}
nav ul li a{
  color: black !important;
  font-size: 18px !important;
}
.dropdown-menu {
  min-width: 8rem;
}

@media (min-width: 992px){
  nav{
    padding-left: 50px !important;   
    padding-right: 50px !important; 
  }

}
.navigationbarlogo img{
  scale: 1.7;
  width:20px;
  margin-right:12px;
  border-radius: 30%;
  font-family: 'Poppins';
}

/* ---------------- */

.logoimg::before{
  content: "";
  background-image: url('https://st2.depositphotos.com/3591429/7699/i/950/depositphotos_76994273-stock-photo-customer-service-support-concept.jpg');
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 50%;
  opacity: 0.1;
}

/* --------------------------- */
/* Gallery  */
.gallery{
  font-family: 'Poppins';
  max-width: 650px;
  margin: auto;
}
@media (max-width: 650px){
  .gallery{
    margin-left: 10px ;
    margin-right: 10px ;
  }
  footer{
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}
/* ====================================== */
.plans{
  max-width: 960px;
  margin: auto;
  margin-bottom: 170px;
}
@media (max-width: 768px){
  .plans .col{
      padding-right: calc(var(--bs-gutter-x) * 1.2);
      padding-left: calc(var(--bs-gutter-x) * 1.2);
  }
}